@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

*::-webkit-scrollbar {
  width: 7px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #A71B4A;
  border-radius: 30px;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  display: none !important;
  content: none !important;
}

@layer components {
  .input {
    @apply bg-white border-[3px] border-[#E1E4E7] shadow-md rounded p-6;
  }
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
  display: none;
}